.body {
    height: 500px;
    width: 780px;
    padding: 20px;
    border-radius: 30px;
    background-color: black;
    margin-left: auto;
    position: fixed;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    color: white;
    border: 2px solid rgb(201, 201, 201);
    box-shadow: 0px 0px 31px 7px white;
    transform: scale(0);
    transition: 0.2s;

    .img_container {
        flex: 1 1 40%;

        .img {
            height: 300px;
            width: 300px;
        }
    }

    .description_container {
        flex: 1 1 40%;
        text-align: left;



        .description {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;

            &__title {
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 10px;
            }
        }

        .cost {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 10px;

            i {
                font-size: 20px;
                font-weight: normal;
            }
        }


    }

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .title {
            margin-left: 20px;
            font-size: 50px;
            font-weight: 700;
        }

        .close {
            cursor: pointer;
            background-image: url(https://cdn130.picsart.com/302533290109211.png);
            background-size: 100%;
            width: 50px;
            height: 50px;
        }
    }
}


.bgmodal {
    position: absolute;
    background-color: rgba(54, 54, 54, 0);
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0);
    transition: 0.2s;
}

.showModal {
    transform: scale(1);
}