.body {
    padding: 10px 20px;
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}